/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #1F2937;
    flex: 2;
}

#main {
    background-color: #eee;
    flex: 3;
    
    display: flex;
    flex-direction: column;
}

.card-box {
    flex: 6;
}

.quote-box {
    flex: 5;
    background-color: #E5E7EB;
}

.footer {
    flex: 4;
}

/*Header and preview box*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.preview {
    width: 90%;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/*Navigation*/
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 8px;
}

li a {
    text-decoration: none;
    color: #e5e7eb;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

/*Preview*/
.preview {
    flex: 12;

    display: flex;
    align-items: center;
}

.preview .inner {
    flex: 1;
    height: 80%;

    display: flex;
}

.inner .left,
.inner .right {
    flex: 1;
}

.inner .right {
    display: flex;
    background-color: grey;
}

.inner .right img {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-family: "Roboto", sans-serif;
}

/*Styling the left side of the preview*/
.inner .left {
    display: flex;
    flex-direction: column;
}

.inner .headline {
    flex: 4;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.inner article {
    flex: 4;
    font-family: sans-serif;
    font-size: 26px;
    color: #e5e7eb;
    opacity: .75;
    flex-shrink: 0;
    overflow: hidden;
}

.inner .btn {
    flex: 2;
}

.inner .btn button {
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: 0.3s;
}

.inner .btn button:hover {
    background-color: #255ebb;
    cursor: pointer;
}
